*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: overlay;
}

.ant-modal-content{
  border-radius: 20px !important;
}
.ant-modal-close {
  width: auto !important;
  height: auto !important;
  border-radius: 50% !important;
}
.ant-form-item-control-input-content .ant-select-selector {
  height: 48px !important;
  display: flex;
  align-items: center;
}
.scrollbar {
  overflow: hidden !important;
}
.scrollbar:hover,
.scrollbar:focus,
.scrollbar:active
 {
  overflow-x: hidden !important;
  overflow-y: overlay !important;
}
.scrollbar::-webkit-scrollbar-track {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: transparent !important;
  display: block;
}
.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.ant-select .ant-select-clear{
  top: 40% !important;
}
