*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ant-modal-content{
  border-radius: 20px !important;
}
.ant-modal-close {
  width: auto !important;
  height: auto !important;
  border-radius: 50% !important;
}